.Graph-container{
    display: flex;
    /* min-height: 50vh; */
    background: #f1f5f9;
    padding:10px;
    gap:20px
}

.Graph-section {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 20px;
    flex: 1;
    padding-top: 10px;
    background-color: rgba(212, 237, 218 ,0.4);
    border-radius: 25px;
    
    
  }

  .Graph-chart {
    flex: 1;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 237, 218 ,0.4);
    border-radius: 25px;
  }